  @import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&family=Work+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Rubik+Scribble&display=swap');
*,
:after,
:before {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 100%; /* 100% = 16px = 1rem*/
}
h1, h2, h3 {
    font-family: 'Rubik Scribble', sans-serif;
}
h2 {
    font-size: 2.5rem;
}
p, ul {
    font-family: 'Work Sans', sans-serif;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /* 1rem * 16px = 16px */
    color: #fff;
}
.wrapper {
    margin: auto;
    max-width: 75rem; /* 75rem = 75 * 16px = 1200px */
}
aside,
footer,
header,
main,
section {
    display: block;
    margin: 0;
    border: 1px solid #000;
    color: #fff;
}
main {
    background: #000;
}
.header {
    background: #333;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: center;

}
.hero {
    background: #d22b1f;
    text-align: center;
}
.padding25 {
  padding: 25px;
}
@media screen and (min-width: 640px) { /* declaración de media query: de 640px hacia arriba */
    .flex-container {
        display: flex;
    }
}


.footer,
.sidebar {
    border: 1px solid #000;
}
.footer {
    background: #616161;
}
.texto-centrado {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
.celeste {
    color: aquamarine;
}



div.sticky {
  position: fixed;
  top: 0;
}

/* estilos footer */
.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Work Sans', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
/* MENU */
.navbar {
    display: flex;
    
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media (max-width: 768px) { /* media query: de 768 pixeles hacia abajo */
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 115px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}
/* estilos overlay */
.button_container {
    position: absolute;
    top: 40%;
    right: 5%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }
  @media (max-width: 768px) { /* media query: de 768 pixeles hacia abajo */
    .button_container {
        top: 9%;
        right: 9%;
    }
}
  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #ffffff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 11px;
  }
  .overlay {
    position: fixed;
    background: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
	  z-index: 1;
  }
  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
  }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: .35s;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  /* imagen responsive */
  .img-responsive {
    max-width: 100%;
    height: auto;
  }
  .triangulo {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* estilos botones */
  .derecha {
    text-align: right;
  }
  .css-button-3d--sky {
    text-align: center;
    font-family: 'K2D', sans-serif;
    min-width: 250px;
    height: 60px;
    color: #fff;
    padding: 15px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
  }
  .css-button-3d--sky:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
  }
  .css-button-3d--sky:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }
  .css-button-retro--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;
    z-index: 0;
  }
  .css-button-retro--blue:hover:after {
    top: 0;
    left: 0;
  }
  .css-button-retro--blue:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #3d348b;
  }